/* 
 * main.css: These sections focus on form and layout styling for the Employee Manager system.
 * 
 * - The input elements are styled for consistency in appearance and behavior. 
 * - Form fields, such as text inputs, dropdowns, and submit buttons, have custom styles 
 *   to enhance the user experience, including focus and hover states.
 * - Labels are styled to ensure clear identification of form fields.
 * - The layout is adjusted for centering content and styling specific sections like the form 
 *   container and top navigation area. The `.bodyForm` and `.top` classes manage form structure 
 *   and page layout.
 * - Images (such as icons) have custom filters for hover effects.
 * 
 * Features:
 *  - Flexbox is used to center content and manage layout.
 *  - Input fields have enhanced focus styles for accessibility and better user feedback.
 *  - Buttons and images provide feedback on hover to indicate interactivity.
 * 
 * Author: Henry Le
 * Version: 20241001 
 */




/* the styles for the html elements */
html {
    background-color: rgb(192, 192, 192);
}
body {
    /* made it so it's centered */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 65%;
    margin: 0 auto;
    background-color: white;
    border: 1px solid black;
    padding: .5em 2em;
}

header {
    margin: 0;
    border-bottom: 2px solid black;
}
header h1 {
    margin: 0;
    padding: .5em 0;
    color: black;
}
main {
    margin: 0;
}
aside {
    float: left;
    width: 150px;
}
nav ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
nav ul li {
    padding-bottom: 0.5em;
}
section {
    float: left;
    width: 500px;
    padding-bottom: 1.5em;
}
footer {
    clear: both;
    margin-top: 1em;
    border-top: 2px solid black;
}
footer p {
    text-align: right;
    font-size: 80%;
    margin: 1em 0;
}
h1 {
    font-size: 150%;
    margin: 0;
    padding: .5em 0 .25em;
}
h2 {
    font-size: 120%;
    margin: 0;
    padding: .25em 0 .5em;
}
h1, h2 {
    color: rgb(208, 133, 4);
}
ul {
    margin: 0 0 1em 0;
    padding: 0 0 0 2.5em;
}
li {
    margin: 0;
    padding: 0;
}
a {
    color: rgb(41, 64, 124);
    font-weight: bold;
}
a:hover {
    color: rgb(208, 133, 4);
}
table {
    border: 1px solid black;
    border-collapse: collapse;
}
td, th {
    border: 1px dashed black;
    padding: .2em .5em .2em .5em;
    vertical-align: top;
    text-align: left;
}
form {
    margin: 0;
}
br {
    clear: left;
}

/* custom styles for the form */


/* Style all input elements */
input, select {
    margin-top: .5em;
    display: block;
    padding: 1em;
    font-size: .7em;
    width: 100%;   
    border: 1px solid #ccc;
    border-radius: .5em;
    box-sizing: border-box; 
}
input[type="text"]:focus, input[type="date"]:focus, select:focus {
    outline: none;
    box-shadow: 0 0 0 .2em rgb(208, 133, 4);
}
input[type="submit"] {
    padding: 1em;
    background-color: rgb(208, 133, 4);
    color: whitesmoke;
}
input[type="submit"]:hover {
    padding: 1em;
    background-color: rgb(246, 201, 125);
    color: whitesmoke;
}
input[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 0 .2em rgb(208, 133, 4);
}

/* Style all label elements */
label { 
    color: rgb(41, 64, 124);
    font-weight: bold;
    margin-bottom: 1em;
}

/* Style bodyForm */
.bodyForm {
    width: 30%;
}

.top {
    margin: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 80%;
}

img{
    width: 2em;
    height: 2em;
    filter: brightness(0) saturate(100%) invert(58%) sepia(40%) saturate(5681%) hue-rotate(16deg) brightness(99%) contrast(97%);
}
img:hover {
    filter: brightness(0) saturate(100%) invert(92%) sepia(98%) saturate(628%) hue-rotate(312deg) brightness(100%) contrast(94%);
}
/* the styles for classes */
.right {
    text-align: right;
}
.last_paragraph {
	margin-bottom: 2em;	
}
/*
 Additional styles for the Product Manager application
*/
#add_product_form {
    margin: .5em 0 1em;
}
#add_product_form label {
    width: 6em;
    padding-right: 1em;
    padding-bottom: .5em;
    float: left;
}
#add_product_form input {
    float: left;
}
#add_product_form input[text] {
    width: 15em;
}